
<ion-nav-bar>
  <ion-nav-back-button>
  </ion-nav-back-button>
</ion-nav-bar>
<ion-nav-view>
  <ion-view view-title="Settings">
    
      <ion-content>
      <ul class="list">
        <li class="item item-toggle" ng-repeat="f in settings.FilterTypes">
          {{f.type}}
          <label class="toggle">
            
            <input type="checkbox" ng-checked="f.show"  ng-click="saveSetting()" ng-model="f.show">
            <div class="track">
              <div class="handle"></div>
            </div>
          </label>
        </li>
      </ul>
    </ion-content>
  </ion-view>
</ion-nav-view>